.container {
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}
.logo {
  color: gray;
  font-size: 18px;
}
.middle {
  position: absolute;
  left: 50%;
  translate: -50%;
}
.profileIcon {
  position: absolute;
  left: 50%;
  bottom: 30%;
  translate: -50%;
  cursor: pointer;
  font-size: 30px;
  z-index: 1;
  transition: 80ms;
  box-shadow: 0 0 2px 2px hsla(0, 0%, 80%);
  border-radius: 50%;
}
.profileIcon:hover {
  scale: 1.1;
}
.profileList {
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 10%;
  text-align: center;
  padding:5px;
}
.profileList > * {
  padding-inline: 20px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
  transition: 120ms;
  background-color: hsla(0, 0%, 95%);
}
.profileList > *:hover {
  scale: 1.2;
  background-color: hsla(0, 0%, 90%)
}
.cartIcon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}
.cartIcon:hover {
  transform: scale(1.1, 1.1);
}
.cartItemQty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}
