.packsHeading,
.dishesHeading{
  text-align: center;
  margin: 40px 0px;
  color: #324d67;
}
.packsHeading,
.dishesHeading h2 {
  font-size: 40px;
  font-weight: 800;
}
.packsContainer {
  margin-top: 30px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  gap:20px;
  border-bottom: 1px solid gray;
}

.dishesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}